@use '../../../styles/functions/color' as *;

.content {
  display: flex;
  gap: 12px;
  align-items: center;

  flex-direction: column;
  text-align: center;

  img {
    border: 2px solid rgba(color(accent, 100), 0.6);
    border-radius: 16px;
    object-fit: cover;
    filter: grayscale(1);

    height: 96px;
    width: 96px;
  }

  .header {
    display: flex;
    gap: 16px;
    align-items: flex-end;
    justify-content: center;
  }

  .socials {
    display: flex;
    gap: 16px;
    justify-content: center;

    a {
      color: color(neutral, 400);

      &:hover {
        color: color(neutral, 300);
      }
    }
  }
}
