$palette: (
  primary: (
    50: #e9e5ef,
    100: #d6bef3,
    200: #8a6bd3,
    300: #6536b7,
    400: #5a0ea7,
    500: #461187,
    600: #3e196e,
    700: #33165d,
    800: #260f3f,
    900: #1b0e38,
  ),
  neutral: (
    white: #fff,
    25: #fcfcfd,
    50: #f9fafb,
    100: #f2f4f7,
    200: #dfe2e8,
    300: #d0d5dd,
    400: #8f98a9,
    500: #5f6674,
    600: #4a5564,
    700: #3a4453,
    800: #212b39,
    900: #131a28,
    black: #000,
  ),
  success: (
    100: #e6f7f2,
    200: #c3f0e3,
    300: #9fead4,
    400: #5ce0b7,
    500: #19d69a,
    600: #17c48a,
    700: #0f8e5f,
    800: #0c6b49,
    900: #084a35,
  ),
  warning: (
    100: #fff8e6,
    200: #ffebcc,
    300: #ffe0b3,
    400: #ffcc80,
    500: #ffb94d,
    600: #e6a146,
    700: #99702f,
    800: #73541f,
    900: #4d3a10,
  ),
  error: (
    100: #ffe6e6,
    200: #f2bdbd,
    300: #ffb3b3,
    400: #ff8080,
    500: #ff4d4d,
    600: #e64646,
    700: #992f2f,
    800: #732020,
    900: #4d1313,
  ),
  information: (
    100: #e6f0ff,
    200: #cce1ff,
    300: #b3d3ff,
    400: #80b6ff,
    500: #4da0ff,
    600: #4691e6,
    700: #2f6299,
    800: #204c73,
    900: #13324d,
  ),
  accent:(
    100:#b0e2d5
  )
);
