@use 'variables';
@use 'normalize';

body {
  color: variables.$text-color;
  background-color: variables.$background-color;

  font-family: variables.$font-primary-regular;
}

a {
  text-decoration: underline;

  &:visited {
    color: inherit;
  }
}
